.env
.venv
__pycache__
dist
build
main.spec
pykinect_recorder.exe
main/synology_utils.py
pykinect_recorder.egg-info
*.exe
datas/*
pykinect_recorder/main/synology_utils.py
dataset_list.txt
.pytest_cache
metadata.csv
.vscode
*.mkv
examples
pykinect_recorder/dev
