conda create -n azure python=3.8 -y
conda activate azure

pip install sounddevice
pip install soundfile
pip install opencv-python
pip install numpy
pip install pydub
# pip install pyk4a --no-use-pep517 --global-option=build_ext --global-option="-IC:\Program Files\Azure Kinect SDK v1.4.1\sdk\include" --global-option="-LC:\Program Files\Azure Kinect SDK v1.4.1\sdk\windows-desktop\amd64\release\lib"
pip install PySide6